#java specific
*.class

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Package Files #
*.jar
*.war
*.ear

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
